*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

.contenedor{
    width: 500px;
    height: 800px;
    border: 1px solid white;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* CIELO */

.cielo{
    position: absolute;
    left: -550px;
    top: -100px;

    animation: cielo 20s 1 forwards;
}

@keyframes cielo{

    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.5);
    }

}

/* MONTAÑA */

.montaña{
    position: absolute;
    left: -500px;
    top: 200px;

    filter: blur(3px);

    animation: montaña 15s 1 forwards;

    z-index: 1;
}

@keyframes montaña{

    from{
        top: 200px;
        transform: scale(1);
    }

    to{
        top: 150px;
        transform: scale(1.1);
    }

}

/* PERSONA */

.persona{
    position: absolute;

    width: 600px;

    left: -50px;
    top: 150px;

    animation: persona 5s 1 forwards;

    z-index: 11;
}

@keyframes persona{

    from{
        transform: scale(1);
    }

    to{
        transform: scale(0.83);
    }

}

/* NEBLINA */

.neblina{
    position: absolute;

    width: 600px;

    top: 460px;
    left: -50px;

    filter: blur(10px);

    animation: neblina 10s 1 forwards;

    z-index: 5;
}

@keyframes neblina{

    from{
        left: -50px;
    }

    to{
        left: 0px;
    }

}

/* TITULO */

.title{

    position: absolute;

    top: 300px;
    left: 0px;

    z-index: 10;

    fill: transparent;

    stroke: #ffffff;
    stroke-width: 1.2;

    stroke-linecap: round;
    stroke-linejoin: round;

    stroke-dasharray: 600;
    stroke-dashoffset: 600;

    filter:
    drop-shadow(0px 0px 5px rgba(255,255,255,0.7))
    drop-shadow(0px 0px 15px rgba(255,255,255,0.4));

    animation:
    textAnimation 5s ease-in-out forwards,
    moverTitulo 4s ease-in-out forwards;
}

@keyframes textAnimation{

    0%{
        stroke-dashoffset: 600;
        fill: transparent;
    }

    70%{
        fill: transparent;
    }

    100%{
        stroke-dashoffset: 0;
        fill: #ffffff;
    }

}


@keyframes moverTitulo{

    from{
        top: 300px;
    }

    to{
        top: 240px;
    }

}